process {
    withName: DADA2_DENOISING {
        ext.args2 = [
            'minOverlap = 106, maxMismatch = 0, returnRejects = FALSE, propagateCol = character(0), trimOverhang = TRUE, match = 1, mismatch = -64, gap = -64, homo_gap = NULL, endsfree = TRUE, vec = FALSE',
            { params.concatenate_reads ? "justConcatenate = TRUE" : "justConcatenate = FALSE" }
        ].join(',').replaceAll('(,)*$', "")
    }
}
